In [1]:
#day 3

In [3]:
'''
Question 1:
Declare your age as integer variable
'''
a = 20
print(a)

20

In [5]:
'''
Question 2:
Declare your height as a float variable
'''
b = 5.6
print(b)

5.6

In [7]:
'''
Question 3:
Declare a variable that stores a complex number
'''
c = 3 + 4j
print(c)

(3+4j)

In [21]:
'''
Question 4:
Prompt the user to enter base and height of a triangle and calculate its area
'''
base = float(input("Enter base: "))
height = float(input("Enter height: "))
area = 0.5 * base * height
print("The area of the triangle is", area)

Enter base:  20
Enter height:  10

The area of the triangle is 100.0

In [23]:
'''
Question 5:
Prompt the user to enter sides a, b, c of the triangle and calculate the perimeter
'''
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))
perimeter = a + b + c
print("The perimeter of the triangle is", perimeter)

Enter side a:  5
Enter side b:  4
Enter side c:  3

The perimeter of the triangle is 12.0

In [13]:
'''
Question 6:
Get length and width of a rectangle using prompt.
Calculate its area and perimeter.
'''
length = float(input("Enter length: "))
width = float(input("Enter width: "))
area = length * width
perimeter = 2 * (length + width)
print("Area:", area)
print("Perimeter:", perimeter)

Enter length:  4
Enter width:  5

Area: 20.0
Perimeter: 18.0

In [15]:
'''
Question 7:
Get radius of a circle using prompt.
Calculate area and circumference.
'''
r = float(input("Enter radius: "))
pi = 3.14
area = pi * r * r
circumference = 2 * pi * r
print("Area:", area)
print("Circumference:", circumference)

Enter radius:  20

Area: 1256.0
Circumference: 125.60000000000001

In [17]:
'''
Question 8:
Calculate slope, x-intercept, and y-intercept of y = 2x - 2
'''
m = 2
y_intercept = -2
x_intercept = -y_intercept / m
print("Slope:", m)
print("Y-intercept:", y_intercept)
print("X-intercept:", x_intercept)

Slope: 2
Y-intercept: -2
X-intercept: 1.0

In [19]:
'''
Question 9:
Find slope and Euclidean distance between points (2,2) and (6,10)
'''
x1, y1 = 2, 2
x2, y2 = 6, 10
m2 = (y2 - y1) / (x2 - x1)
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print("Slope:", m2)
print("Distance:", distance)

Slope: 2.0
Distance: 8.94427190999916

In [25]:
'''
Question 10:
Compare the slopes in Question 8 and Question 9
'''
print(m == m2)

True

In [27]:
'''
Question 11:
Calculate y = x^2 + 6x + 9 for different x values and find where y = 0
'''
for x in range(-10, 10):
    y = x**2 + 6*x + 9
    if y == 0:
        print("y=0 when x =", x)

y=0 when x = -3

In [29]:
'''
Question 12:
Find length of 'python' and 'dragon' and make a falsy comparison
'''
print(len('python') == len('dragon'))

True

In [31]:
'''
Question 13:
Use and operator to check if 'on' is found in both 'python' and 'dragon'
'''
print('on' in 'python' and 'on' in 'dragon')

True

In [33]:
'''
Question 15:
Check if there is no 'on' in both dragon and python
'''
print('on' not in 'dragon' and 'on' not in 'python')

False

In [35]:
'''
Question 16:
Find the length of 'python' and convert to float and string
'''
x = len('python')
y = float(x)
z = str(y)
print(x, y, z)

6 6.0 6.0

In [37]:
'''
Question 17:
Check if a number is even (divisible by 2)
'''
num = int(input("Enter a number: "))
print(num % 2 == 0)

Enter a number:  45

False

In [39]:
'''
Question 18:
Check if floor division of 7 by 3 equals int(2.7)
'''
print(7 // 3 == int(2.7))

True

In [41]:
'''
Question 19:
Check if type of '10' equals type of 10
'''
print(type('10') == type(10))

False

In [45]:
'''
Question 20:
Check if int('9.8') equals 10
'''
print(int('9.8') == 10)#string can not be coverted to int

ValueError: invalid literal for int() with base 10: '9.8'

In [47]:
'''
Question 21:
Prompt the user to enter hours and rate per hour to calculate weekly earnings
'''
hours = float(input("Enter hours: "))
rate = float(input("Enter rate per hour: "))
earning = hours * rate
print("Your weekly earning is", earning)

Enter hours:  40
Enter rate per hour:  28

Your weekly earning is 1120.0

In [49]:
'''
Question 22:
Prompt user to enter number of years lived and calculate seconds lived
'''
years = int(input("Enter number of years you have lived: "))
seconds = years * 365 * 24 * 60 * 60
print("You have lived for", seconds, "seconds.")

Enter number of years you have lived:  100

You have lived for 3153600000 seconds.

In [51]:
'''
Question 23:
Display the following table
1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125
'''
for i in range(1, 6):
    print(i, 1, i, i**2, i**3)

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125