In [1]:
#day5

In [3]:
'''
Declare an empty list
'''
empty_list = []
print(empty_list)

[]

In [5]:
'''
Declare a list with more than 5 items
'''
fruits = ['apple', 'banana', 'mango', 'grapes', 'kiwi', 'orange']
print(fruits)

['apple', 'banana', 'mango', 'grapes', 'kiwi', 'orange']

In [7]:
'''
Find the length of your list
'''
print(len(fruits))

6

In [9]:
'''
Get the first item, the middle item and the last item of the list
'''
print(fruits[0])
print(fruits[len(fruits)//2])
print(fruits[-1])

apple
grapes
orange

In [11]:
'''
Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
'''
mixed_data_types = ['Aparna', 20, 5.4, 'Single', 'Vijayawada']
print(mixed_data_types)

['Aparna', 20, 5.4, 'Single', 'Vijayawada']

In [13]:
'''
Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon
'''
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [15]:
'''
Print the number of companies in the list
'''
print(len(it_companies))

7

In [17]:
'''
Print the first, middle and last company
'''
print(it_companies[0])
print(it_companies[len(it_companies)//2])
print(it_companies[-1])

Facebook
Apple
Amazon

In [19]:
'''
Print the list after modifying one of the companies
'''
it_companies[2] = 'Microsoft AI'
print(it_companies)

['Facebook', 'Google', 'Microsoft AI', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [21]:
'''
Add an IT company to it_companies
'''
it_companies.append('Netflix')
print(it_companies)

['Facebook', 'Google', 'Microsoft AI', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Netflix']

In [23]:
'''
Insert an IT company in the middle of the companies list
'''
it_companies.insert(len(it_companies)//2, 'Tesla')
print(it_companies)

['Facebook', 'Google', 'Microsoft AI', 'Apple', 'Tesla', 'IBM', 'Oracle', 'Amazon', 'Netflix']

In [25]:
'''
Change one of the it_companies names to uppercase (IBM excluded!)
'''
it_companies[1] = it_companies[1].upper()
print(it_companies)

['Facebook', 'GOOGLE', 'Microsoft AI', 'Apple', 'Tesla', 'IBM', 'Oracle', 'Amazon', 'Netflix']

In [27]:
'''
Join the it_companies with a string '#;  '
'''
joined = '#;  '.join(it_companies)
print(joined)

Facebook#;  GOOGLE#;  Microsoft AI#;  Apple#;  Tesla#;  IBM#;  Oracle#;  Amazon#;  Netflix

In [29]:
'''
Check if a certain company exists in the it_companies list
'''
print('Apple' in it_companies)

True

In [31]:
'''
Reverse the list in descending order using reverse() method
'''
it_companies.reverse()
print(it_companies)

['Netflix', 'Amazon', 'Oracle', 'IBM', 'Tesla', 'Apple', 'Microsoft AI', 'GOOGLE', 'Facebook']

In [33]:
'''
Slice out the first 3 companies from the list
'''
print(it_companies[:3])

['Netflix', 'Amazon', 'Oracle']

In [35]:
'''
Slice out the last 3 companies from the list
'''
print(it_companies[-3:])

['Microsoft AI', 'GOOGLE', 'Facebook']

In [37]:
'''
Slice out the middle IT company or companies from the list
'''
mid = len(it_companies)//2
print(it_companies[mid])

Tesla

In [39]:
'''
Remove the first IT company from the list
'''
it_companies.pop(0)
print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Tesla', 'Apple', 'Microsoft AI', 'GOOGLE', 'Facebook']

In [41]:
'''
Remove the middle IT company or companies from the list
'''
mid = len(it_companies)//2
it_companies.pop(mid)
print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Tesla', 'Microsoft AI', 'GOOGLE', 'Facebook']

In [43]:
'''
Remove the last IT company from the list
'''
it_companies.pop()
print(it_companies)

['Amazon', 'Oracle', 'IBM', 'Tesla', 'Microsoft AI', 'GOOGLE']

In [45]:
'''
Remove all IT companies from the list
'''
it_companies.clear()
print(it_companies)

[]

In [47]:
'''
Destroy the IT companies list
'''
del it_companies

In [49]:
'''
Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
'''
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
joined_list = front_end + back_end
print(joined_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [51]:
'''
After joining the lists, copy the joined list and assign it to full_stack,
then insert Python and SQL after Redux.
'''
full_stack = joined_list.copy()
index = full_stack.index('Redux') + 1
full_stack.insert(index, 'Python')
full_stack.insert(index + 1, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [53]:
'''
The following is a list of 10 students ages:
Sort the list and find the min and max age
'''
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(min(ages))
print(max(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [55]:
'''
Add the min age and the max age again to the list
'''
ages.append(min(ages))
ages.append(max(ages))
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [57]:
'''
Find the median age
'''
ages.sort()
n = len(ages)
if n % 2 == 0:
    median = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median = ages[n//2]
print(median)

24.0

In [61]:
'''
Find the average age
'''
average = sum(ages) / len(ages)
print(average)

22.75

In [63]:
'''
Find the range of the ages
'''
age_range = max(ages) - min(ages)
print(age_range)

7

In [65]:
'''
Compare (min - average) and (max - average)
'''
min_diff = abs(min(ages) - average)
max_diff = abs(max(ages) - average)
print(min_diff == max_diff)

False

In [73]:
'''
Find the middle country(ies) in the countries list
'''
countries = ['Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',]
mid = len(countries)//2
print(countries[mid])

Lesotho

In [75]:
'''
Divide the countries list into two equal lists (if even, else one extra for first half)
'''
n = len(countries)
half = n // 2 + n % 2
first_half = countries[:half]
second_half = countries[half:]
print(first_half)
print(second_half)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

In [79]:
'''
Unpack the first three countries and the rest as scandic countries
'''
c=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
a, b, c, *scandic = c
print(a)
print(b)
print(c)
print(scandic)

China
Russia
USA
['Finland', 'Sweden', 'Norway', 'Denmark']