In [1]:
#day6

In [3]:
'''
Create an empty tuple
'''
empty_tuple = ()
print(empty_tuple)

()

In [5]:
'''
Create a tuple containing names of your sisters and your brothers
'''
sisters = ('Anu', 'Harika')
brothers = ('Kiran', 'Raj')
print(sisters)
print(brothers)

('Anu', 'Harika')
('Kiran', 'Raj')

In [7]:
'''
Join brothers and sisters tuples and assign it to siblings
'''
siblings = sisters + brothers
print(siblings)

('Anu', 'Harika', 'Kiran', 'Raj')

In [9]:
'''
How many siblings do you have?
'''
print(len(siblings))

4

In [11]:
'''
Modify the siblings tuple and add the name of your father and mother and assign it to family_members
'''
family_members = siblings + ('Father', 'Mother')
print(family_members)

('Anu', 'Harika', 'Kiran', 'Raj', 'Father', 'Mother')

In [13]:
'''
Unpack siblings and parents from family_members
'''
sister1, sister2, brother1, brother2, father, mother = family_members
print(sister1)
print(sister2)
print(brother1)
print(brother2)
print(father)
print(mother)

Anu
Harika
Kiran
Raj
Father
Mother

In [15]:
'''
Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
'''
fruits = ('Apple', 'Banana', 'Orange')
vegetables = ('Carrot', 'Potato', 'Spinach')
animal_products = ('Milk', 'Eggs', 'Cheese')
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

('Apple', 'Banana', 'Orange', 'Carrot', 'Potato', 'Spinach', 'Milk', 'Eggs', 'Cheese')

In [17]:
'''
Change the food_stuff_tp tuple to a food_stuff_lt list
'''
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['Apple', 'Banana', 'Orange', 'Carrot', 'Potato', 'Spinach', 'Milk', 'Eggs', 'Cheese']

In [19]:
'''
Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list
'''
mid = len(food_stuff_lt) // 2
if len(food_stuff_lt) % 2 == 0:
    print(food_stuff_lt[mid-1:mid+1])
else:
    print(food_stuff_lt[mid])

Potato

In [21]:
'''
Slice out the first three items and the last three items from food_stuff_lt list
'''
print(food_stuff_lt[:3])
print(food_stuff_lt[-3:])

['Apple', 'Banana', 'Orange']
['Milk', 'Eggs', 'Cheese']

In [23]:
'''
Delete the food_stuff_tp tuple completely
'''
del food_stuff_tp

In [29]:
'''
Check if 'Estonia','Iceland' is a nordic country
'''
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')
print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

False
True