In [1]:
#day 7

In [3]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [5]:
'''
Find the length of the set it_companies
'''
print(len(it_companies))

7

In [7]:
'''
Add 'Twitter' to it_companies
'''
it_companies.add('Twitter')
print(it_companies)

{'Apple', 'Amazon', 'Google', 'IBM', 'Twitter', 'Facebook', 'Oracle', 'Microsoft'}

In [9]:
'''
Insert multiple IT companies at once to the set it_companies
'''
it_companies.update({'Tesla', 'Infosys', 'TCS'})
print(it_companies)

{'TCS', 'Google', 'IBM', 'Facebook', 'Microsoft', 'Tesla', 'Apple', 'Amazon', 'Twitter', 'Infosys', 'Oracle'}

In [11]:
'''
Remove one of the companies from the set it_companies
'''
it_companies.remove('IBM')
print(it_companies)

{'TCS', 'Google', 'Facebook', 'Microsoft', 'Tesla', 'Apple', 'Amazon', 'Twitter', 'Infosys', 'Oracle'}

In [13]:
'''
What is the difference between remove and discard
'''

it_companies.remove('Wipro')

KeyError: 'Wipro'

In [15]:
'''
Join A and B
'''
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [17]:
'''
Find A intersection B
'''
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

In [19]:
'''
Is A subset of B
'''
print(A.issubset(B))

True

In [21]:
'''
Are A and B disjoint sets
'''
print(A.isdisjoint(B))

False

In [23]:
'''
Join A with B and B with A
'''
print(A.union(B))
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [25]:
'''
What is the symmetric difference between A and B
'''
print(A.symmetric_difference(B))

{27, 28}

In [27]:
'''
Delete the sets completely
'''
del A
del B

In [29]:
'''
Convert the ages to a set and compare the length of the list and the set, which one is bigger?
'''
age_set = set(age)
print("List length:", len(age))
print("Set length:", len(age_set))
print("Set is smaller because it removes duplicates.")

List length: 8
Set length: 5
Set is smaller because it removes duplicates.

In [ ]:
'''
Explain the difference between the following data types: string, list, tuple and set
'''
String: Immutable sequence of characters.
List: Ordered and mutable collection allowing duplicates.
Tuple: Ordered but immutable collection allowing duplicates.
Set: Unordered, mutable, no duplicates.

In [31]:
'''
I am a teacher and I love to inspire and teach people.
How many unique words have been used in the sentence?
'''
sentence = "I am a teacher and I love to inspire and teach people."
unique_words = set(sentence.lower().replace('.', '').split())
print("Unique word count:", len(unique_words))
print("Unique words:", unique_words)

Unique word count: 10
Unique words: {'inspire', 'people', 'a', 'to', 'love', 'and', 'i', 'am', 'teach', 'teacher'}